* {
  padding: 0;
  margin: 0;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: sans-serif;
  justify-content: center;
  display: flex;
  align-items: center;
  background-color: #9BB9C3;
  box-sizing: border-box;
}

.calculator {
  background-color: #9BB9C3;
  width: 300px;
  border: none;
}

.container {
  width: 100%;
  border-radius: 7px;
}

.display {
  width: 94.5%;
  height: 70px;
  border: none;
  box-sizing: border-box;
  padding: 10px;
  text-align: right; 
  font-size: 24px;
  background-color: #36393f;
}

.row {
  display: flex;
}

button {
  width: 70px;
  height: 70px;
  font-size: 24px;
  border: none;
}

button:hover {
  cursor: pointer;
}

.operator {
  background-color: #dedede;
}

.clear {
  background-color: #dedede;
}

.result {
  width: 280px;
  background-color: #f8b195;
}